<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Booking Dr <%= results.name %></h1>
  <form action="" method="post">
    <input type="text" name="patient_name" placeholder="Name" />
    <input type="date" name="date" />
    <input type="text" name="reason" placeholder="Reason" />
    <input type="text" name="details" placeholder="Details" />
    <input type="submit" />
  </form>
</body>

</html>
