<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <style>
    .card {
      border: solid;
    }
  </style>
</head>

<body>

  <a href="/loginPage">Doctor Login</a>

  <h1>Doctors Available:</h1>
  <% for(let i=0; i<results.length; i++){ %>
    <div class="card">
      <h2> <%= results[i].name %> </h2>
      <a href="/bookingPage/<%=results[i].id%>">Book</a>
    </div>

    <% } %>
</body>

</html>
