<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="login">
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="password" placeholder="Password" />
      <input type="submit" />
    </form>
  </div>
  <div class="register">
    <h1>Register</h1>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="bio" placeholder="Bio" />
      <input type="text" name="img_url" placeholder="Img_URL" />
      <input type="text" name="password" placeholder="Password" />
      <input type="submit" />
    </form>
  </div>
</body>

</html>
